In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "../../data/carbon_emission_by_sector.csv"
transp_df = pd.read_csv(path)
transp_df.dropna().head()

,Sector,1975,1980,1985,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Total U.S. CO2 Emissions from energy use,"4,426.40","4,750.40","4,587.10","5,039.90","4,994.60","5,094.90","5,185.80","5,263.60","5,323.20",...,"5,584.60","5,445.70","5,229.00","5,356.00","5,413.20","5,262.90","5,170.40","5,130.70","5,280.90","5,130.50"
1,Transportation,"1,291.60","1,400.20","1,421.20","1,587.60","1,567.90","1,591.60","1,604.20","1,644.10","1,678.50",...,"1,842.90","1,809.00","1,773.40","1,796.40","1,814.90","1,838.80","1,871.00","1,887.50","1,917.80","1,904.90"
2,Coal,0.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Natural gas,31.5,34.5,27.6,36,32.9,32.3,34.2,37.6,38.4,...,38.1,38.9,41.4,47.1,40.3,39.5,40.2,42.4,50.3,51.9
4,Electricity,2.1,2.4,2.9,3.2,3.2,3.1,3.2,3.3,3.2,...,4.7,4.4,4,4.2,4.2,3.9,3.6,3.5,3.5,3.3

In [3]:
new_df = transp_df.reset_index(drop=True).set_index("Sector")

In [8]:
new_df1 = new_df.T
new_df2 = new_df1.reset_index()
new_df2.head()

Sector,index,Total U.S. CO2 Emissions from energy use,Transportation,Coal,Natural gas,Electricity,Petroleum,Motor gasoline,Hydrocrabon gas liquidsa,Jet fuel,Distillate fuel oil,Residual fuel oil,Lubricants,Aviation gas,Industrial,Residential,Commercial
0,1975,"4,426.40","1,291.60",0.1,31.5,2.1,"1,257.90",888.6,2.7,144.7,155.2,56,5.7,4.9,"1,684.70",867.3,582.9
1,1980,"4,750.40","1,400.20",0,34.5,2.4,"1,363.30",881.3,1.1,155.4,204.4,110.2,6.4,4.5,"1,777.00",911.4,661.9
2,1985,"4,587.10","1,421.20",0,27.6,2.9,"1,390.80",907.9,1.9,177.9,231.9,61.9,5.8,3.5,"1,552.70",908.7,704.5
3,1990,"5,039.90","1,587.60",0,36,3.2,"1,548.40",966.8,1.4,222.6,267.8,80.1,6.5,3.1,"1,696.60",963.2,792.5
4,1991,"4,994.60","1,567.90",0,32.9,3.2,"1,531.90",962.4,1.3,215.2,263.4,80.8,5.8,2.9,"1,652.20",980.1,794.3

In [9]:
new_df2.rename(columns={"index": "year", "Total U.S. CO2 Emissions from energy use": "total_emission", "Transportation": "transportation_emission",
                       "Coal": "coal_emission", "Natural gas": "natural_gas_emission", "Electricity": "electricity_emission",
                       "Petroleum": "petroleum_emission", "Motor gasoline": "motor_emission", "Hydrocrabon gas liquidsa":"hydrocrabon_gas_emission",
                       "Jet fuel": "jet_fuel_emission", "Distillate fuel oil": "distillate_fuel_emission", "Residual fuel oil": "residual_fuel_emission",
                       "Lubricants": "lubricant_emission", "Aviation gas": "aviation_gas_emission", "Industrial": "industrial_emission", 
                        "Residential": "residential_emission", "Commercial": "commercial_emission"}, inplace=True)

In [11]:
new_df2["year"] = new_df2["year"].astype(int)
new_df2.head()

Sector,year,total_emission,transportation_emission,coal_emission,natural_gas_emission,electricity_emission,petroleum_emission,motor_emission,hydrocrabon_gas_emission,jet_fuel_emission,distillate_fuel_emission,residual_fuel_emission,lubricant_emission,aviation_gas_emission,industrial_emission,residential_emission,commercial_emission
0,1975,"4,426.40","1,291.60",0.1,31.5,2.1,"1,257.90",888.6,2.7,144.7,155.2,56,5.7,4.9,"1,684.70",867.3,582.9
1,1980,"4,750.40","1,400.20",0,34.5,2.4,"1,363.30",881.3,1.1,155.4,204.4,110.2,6.4,4.5,"1,777.00",911.4,661.9
2,1985,"4,587.10","1,421.20",0,27.6,2.9,"1,390.80",907.9,1.9,177.9,231.9,61.9,5.8,3.5,"1,552.70",908.7,704.5
3,1990,"5,039.90","1,587.60",0,36,3.2,"1,548.40",966.8,1.4,222.6,267.8,80.1,6.5,3.1,"1,696.60",963.2,792.5
4,1991,"4,994.60","1,567.90",0,32.9,3.2,"1,531.90",962.4,1.3,215.2,263.4,80.8,5.8,2.9,"1,652.20",980.1,794.3

In [12]:
path1 = "../../data/renewable_energy_consumption.csv"
carbon_df = pd.read_csv(path1)
carbon_df1 = carbon_df.dropna()
carbon_df1.rename(columns={"Annual Total": "year"}, inplace=True)
carbon_df1.columns = carbon_df1.columns.str.lower()
carbon_df1.rename_axis("index").head()
carbon_df1.head()

,year,wood energy production,biofuels production,total biomass energy production,total renewable energy production,hydroelectric power consumption,geothermal energy consumption,solar energy consumption,wind energy consumption,wood energy consumption,waste energy consumption,biofuels consumption,total biomass energy consumption,total renewable energy consumption
0,1990,2216.166,110.867,2735.112,6040.024,3046.391,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024
1,1991,2214.082,128.000,2781.797,6067.785,3015.943,177.626,61.623,30.796,2214.082,439.715,128.000,2781.797,6067.785
2,1992,2313.471,145.005,2931.678,5820.556,2617.436,178.699,62.880,29.863,2313.471,473.202,145.005,2931.678,5820.556
3,1993,2259.774,169.336,2908.446,6081.909,2891.613,185.673,65.190,30.987,2259.774,479.336,169.062,2908.172,6081.635
4,1994,2323.820,188.391,3027.534,5987.142,2683.457,173.464,67.126,35.560,2323.820,515.323,188.391,3027.534,5987.142

In [13]:
path2 = "../../data/worldbank_data3.csv"
wb_df = pd.read_csv(path2)

In [14]:
wb_df2 = wb_df.reset_index(drop=True).set_index("Series Name")
wb_df3 = wb_df2.T
wb_df4 = wb_df3.drop(["Country Name","Country Code","Series Code"])

In [15]:
wb_df4.rename(columns={"CO2 emissions (metric tons per capita)": "emission_per_capita",
                       "Electric power consumption (kWh per capita)": "electric_consumption_per_capita"}, inplace=True)
wb_df5 = wb_df4.reset_index()
wb_df5.rename(columns={"index": "year"}, inplace=True)
wb_df5.rename_axis("index").head()

Series Name  year emission_per_capita electric_consumption_per_capita
index
0            1990               19.32                         11713.3
1            1991               19.06                         12134.2
2            1992               19.14                           12015
3            1993               19.35                         12261.5
4            1994               19.36                         12455.2

In [23]:
wb_df5["year"] = wb_df5["year"].astype(int)
wb_df5.head()

Series Name  year emission_per_capita electric_consumption_per_capita
0            1990               19.32                         11713.3
1            1991               19.06                         12134.2
2            1992               19.14                           12015
3            1993               19.35                         12261.5
4            1994               19.36                         12455.2

In [24]:
merge_df = pd.merge(left=new_df2, right=carbon_df1, left_on='year', right_on='year')
merge_df.head()

,year,total_emission,transportation_emission,coal_emission,natural_gas_emission,electricity_emission,petroleum_emission,motor_emission,hydrocrabon_gas_emission,jet_fuel_emission,...,total renewable energy production,hydroelectric power consumption,geothermal energy consumption,solar energy consumption,wind energy consumption,wood energy consumption,waste energy consumption,biofuels consumption,total biomass energy consumption,total renewable energy consumption
0,1990,"5,039.90","1,587.60",0,36,3.2,"1,548.40",966.8,1.4,222.6,...,6040.024,3046.391,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024
1,1991,"4,994.60","1,567.90",0,32.9,3.2,"1,531.90",962.4,1.3,215.2,...,6067.785,3015.943,177.626,61.623,30.796,2214.082,439.715,128.000,2781.797,6067.785
2,1992,"5,094.90","1,591.60",0,32.3,3.1,"1,556.20",979.1,1.2,213.4,...,5820.556,2617.436,178.699,62.880,29.863,2313.471,473.202,145.005,2931.678,5820.556
3,1993,"5,185.80","1,604.20",0,34.2,3.2,"1,566.90",993.1,1.3,215.1,...,6081.909,2891.613,185.673,65.190,30.987,2259.774,479.336,169.062,2908.172,6081.635
4,1994,"5,263.60","1,644.10",0,37.6,3.3,"1,603.20","1,004.10",2.1,223.8,...,5987.142,2683.457,173.464,67.126,35.560,2323.820,515.323,188.391,3027.534,5987.142

In [26]:
merge_df2 = pd.merge(left=merge_df, right=wb_df5, left_on='year', right_on='year')
merge_df2.head()

,year,total_emission,transportation_emission,coal_emission,natural_gas_emission,electricity_emission,petroleum_emission,motor_emission,hydrocrabon_gas_emission,jet_fuel_emission,...,geothermal energy consumption,solar energy consumption,wind energy consumption,wood energy consumption,waste energy consumption,biofuels consumption,total biomass energy consumption,total renewable energy consumption,emission_per_capita,electric_consumption_per_capita
0,1990,"5,039.90","1,587.60",0,36,3.2,"1,548.40",966.8,1.4,222.6,...,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024,19.32,11713.3
1,1991,"4,994.60","1,567.90",0,32.9,3.2,"1,531.90",962.4,1.3,215.2,...,177.626,61.623,30.796,2214.082,439.715,128.000,2781.797,6067.785,19.06,12134.2
2,1992,"5,094.90","1,591.60",0,32.3,3.1,"1,556.20",979.1,1.2,213.4,...,178.699,62.880,29.863,2313.471,473.202,145.005,2931.678,5820.556,19.14,12015
3,1993,"5,185.80","1,604.20",0,34.2,3.2,"1,566.90",993.1,1.3,215.1,...,185.673,65.190,30.987,2259.774,479.336,169.062,2908.172,6081.635,19.35,12261.5
4,1994,"5,263.60","1,644.10",0,37.6,3.3,"1,603.20","1,004.10",2.1,223.8,...,173.464,67.126,35.560,2323.820,515.323,188.391,3027.534,5987.142,19.36,12455.2
5,1995,"5,323.20","1,678.50",0,38.4,3.2,"1,636.90","1,026.40",1.1,222.1,...,152.057,68.233,32.630,2369.869,531.476,199.797,3101.142,6559.369,19.28,12659.6
6,1996,"5,512.10","1,723.80",0,39.1,3.2,"1,681.50","1,046.10",1,232.1,...,163.359,69.134,33.440,2437.027,576.990,142.789,3156.806,7012.394,19.5,12854.3
7,1997,"5,582.90","1,742.20",0,41.4,3.3,"1,697.50","1,055.40",0.9,234.5,...,166.698,68.166,33.581,2370.991,550.602,183.627,3105.220,7014.122,19.69,12889.8
8,1998,"5,631.40","1,779.40",0,35.3,3.3,"1,740.80","1,087.90",1.1,237.9,...,168.450,67.449,30.853,2184.161,542.295,201.034,2927.490,6491.296,19.58,13154.8
9,1999,"5,693.00","1,825.60",0,35.8,3.4,"1,786.40","1,112.80",0.9,245.4,...,170.921,66.066,45.894,2214.167,540.156,208.967,2963.290,6513.747,19.73,13281.9
10,2000,"5,866.60","1,869.70",0,35.7,3.6,"1,830.40","1,119.40",0.8,253.8,...,164.364,63.469,57.057,2261.715,510.800,235.712,3008.227,6104.234,20.18,13671
11,2001,"5,764.70","1,849.10",0,34.9,3.8,"1,810.40","1,125.30",0.9,242.8,...,164.461,61.674,69.617,2005.834,363.875,252.647,2622.356,5159.966,19.64,13046.6
12,2002,"5,809.20","1,889.80",0,37.1,3.6,"1,849.10","1,155.60",0.9,236.8,...,171.164,59.980,105.334,1995.284,402.004,303.333,2700.621,5726.116,19.61,13296.2
13,2003,"5,859.90","1,890.70",0,33.3,4.5,"1,852.90","1,159.20",1.1,231.5,...,173.445,58.432,113.273,2002.037,401.347,403.087,2806.471,5944.160,19.56,13307.5
14,2004,"5,978.80","1,957.40",0,31.9,4.8,"1,920.70","1,180.20",1.2,239.8,...,178.147,58.376,141.664,2121.252,389.043,497.777,3008.073,6074.726,19.66,13388.6
15,2005,"5,999.20","1,984.20",0,33.1,5,"1,946.10","1,180.10",1.8,246.3,...,180.703,57.893,178.088,2136.697,403.219,574.014,3113.930,6233.556,19.59,13704.6
16,2006,"5,913.70","2,012.30",0,33.2,4.7,"1,974.40","1,186.60",1.7,239.5,...,181.200,60.755,263.738,2099.319,396.561,766.260,3262.140,6636.868,19.09,13583.3
17,2007,"6,003.10","2,017.90",0,35.2,5.3,"1,977.40","1,182.90",1.4,238,...,185.774,65.621,340.503,2088.775,413.235,982.814,3484.824,6523.110,19.22,13657.5
18,2008,"5,816.60","1,893.30",0,36.7,4.9,"1,851.70","1,119.00",2.5,226.3,...,192.433,74.207,545.548,2058.985,435.263,1357.144,3851.392,7174.689,18.46,13663.4
19,2009,"5,392.00","1,824.80",0,37.9,4.7,"1,782.20","1,106.80",1.8,204.4,...,200.185,78.178,721.129,1935.010,451.687,1553.312,3940.009,7608.324,17.16,12913.7
20,2010,"5,584.60","1,842.90",0,38.1,4.7,"1,800.00","1,088.80",0.5,210,...,207.979,91.282,923.427,2216.740,467.912,1821.230,4505.882,8267.112,17.44,13395.1
21,2011,"5,445.70","1,809.00",0,38.9,4.4,"1,765.60","1,057.00",0.5,209.1,...,212.311,112.429,1167.636,2213.220,461.793,1933.919,4608.932,9204.160,16.92,13247
22,2012,"5,229.00","1,773.40",0,41.4,4,"1,728.00","1,051.10",0.4,205.7,...,211.592,158.961,1340.059,2151.213,466.604,1889.988,4507.805,8847.119,16.19,12966.1
23,2013,"5,356.00","1,796.40",0,47.1,4.2,"1,745.10","1,066.00",0.4,210.4,...,214.006,224.524,1601.359,2338.256,496.436,2013.662,4848.354,9450.625,16.36,13006.8
24,2014,"5,413.20","1,814.90",0,40.3,4.2,"1,770.40","1,077.20",0.5,215.6,...,214.490,337.543,1727.542,2401.078,515.877,2077.254,4994.208,9740.360,16.42,12997.5
25,2015,"5,262.90","1,838.80",0,39.5,3.9,"1,795.40","1,083.10",0.4,227.1,...,211.836,426.867,1777.306,2311.768,518.371,2153.219,4983.358,9720.544,15.99,..
26,2016,"5,170.40","1,871.00",0,40.2,3.6,"1,827.20","1,101.60",0.4,237.4,...,209.604,570.368,2095.595,2224.121,503.219,2287.182,5014.521,10362.530,15.5,..
27,2017,"5,130.70","1,887.50",0,42.4,3.5,"1,841.60","1,098.90",0.5,246.8,...,210.233,777.084,2342.891,2180.563,495.260,2303.518,4979.340,11076.515,..,..
28,2018,"5,280.90","1,917.80",0,50.3,3.5,"1,864.00","1,099.00",0.5,250.4,...,208.865,915.513,2482.364,2260.506,487.347,2283.247,5031.100,11300.980,..,..
29,2019,"5,130.50","1,904.90",0,51.9,3.3,"1,849.70","1,091.00",0.5,255.2,...,209.260,1042.856,2731.847,2297.166,433.133,2254.725,4985.024,11460.819,..,..

In [27]:
merge_df2.to_csv("../../data/merged_energy_emission.csv")